<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<File name="File" fileName="log/output.log" bufferedIO="true"
			advertiseURI="log/output.log" advertise="true">
			<PatternLayout
				pattern="[%d{dd.MM.y HH:mm:ss.SSS}] [%t] [%-5level %logger %L] - %msg%n" />
		</File>

		<Kafka name="Kafka" topic="afsin1">
			<PatternLayout pattern="%date %message" />
			<Property name="bootstrap.servers">localhost:9092</Property>
		</Kafka>

	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="Console" />
			<AppenderRef ref="Kafka" />
			<AppenderRef ref="File" />
		</Root>

		<Logger name="org.apache.kafka" level="ERROR" />
	</Loggers>
</Configuration>